Create database QLNhanVien
Go
USE [QLNhanVien]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/22/2023 2:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[HoNV] [nvarchar](30) NULL,
	[TenNV] [nchar](20) NULL,
	[Phai] [bit] NOT NULL,
	[NgaySinh] [date] NULL,
	[NoiSinh] [nchar](50) NULL,
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 2/22/2023 2:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [Phai], [NgaySinh], [NoiSinh], [MaPhong]) VALUES (1, N'Nguyễn Văn', N'Hải                 ', 1, CAST(N'1976-03-02' AS Date), N'TP.HCM                                            ', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [Phai], [NgaySinh], [NoiSinh], [MaPhong]) VALUES (2, N'Trần Văn', N'Chính               ', 1, CAST(N'1970-05-12' AS Date), N'TP.HCM                                            ', 2)
INSERT [dbo].[NhanVien] ([MaNV], [HoNV], [TenNV], [Phai], [NgaySinh], [NoiSinh], [MaPhong]) VALUES (3, N'Trần Anh', N'Tuấn                ', 1, CAST(N'1985-12-25' AS Date), N'Long An                                           ', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [TenPhong]) VALUES (1, N'Phòng tổ chức nhân sự')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong]) VALUES (2, N'Phòn kinh doanh')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong]) VALUES (3, N'Phòng tài chính kế toán')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
