CREATE DATABASE HoaTuoiDB
GO
USE [HoaTuoiDB]
GO
/****** Object:  Table [dbo].[Hoa]    Script Date: 3/29/2022 7:45:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hoa](
	[MaHoa] [int] IDENTITY(1,1) NOT NULL,
	[TenHoa] [nvarchar](50) NOT NULL,
	[Gia] [float] NOT NULL,
	[Hinh] [varchar](50) NOT NULL,
	[MaLoai] [int] NULL,
	[NgayDang] [datetime] NULL,
	[SoLuotXem] [int] NULL,
 CONSTRAINT [PK_Hoa] PRIMARY KEY CLUSTERED 
(
	[MaHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 6/10/2019 7:45:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Hoa] ON 

INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [Gia], [Hinh], [MaLoai], [NgayDang], [SoLuotXem]) VALUES (1, N'Pink Lyly ', 350000, N'1.png', 1, CAST(0x00009E4A00000000 AS DateTime), 111)
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [Gia], [Hinh], [MaLoai], [NgayDang], [SoLuotXem]) VALUES (2, N'Christmas Plant', 300000, N'hoagio001.png', 2, CAST(0x00009E4A00000000 AS DateTime), 123)
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [Gia], [Hinh], [MaLoai], [NgayDang], [SoLuotXem]) VALUES (3, N'Everlasting ', 350000, N'2.png', 1, CAST(0x00009E4A00000000 AS DateTime), 100)
SET IDENTITY_INSERT [dbo].[Hoa] OFF
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [GhiChu]) VALUES (1, N'Hoa tươi bó', NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [GhiChu]) VALUES (2, N'Hoa tươi giỏ', NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [GhiChu]) VALUES (3, N'Hoa tươi bình', NULL)
SET IDENTITY_INSERT [dbo].[Loai] OFF
ALTER TABLE [dbo].[Hoa]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_DanhMuc] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Hoa] CHECK CONSTRAINT [FK_Hoa_DanhMuc]
GO
